.LOGIN{
  height: 800px;

  position: static;
  left: 700px;
  top: 500px;

  background-position: center;
  background-image: url(website_template-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
.PART1{
  height: 300px;
  width: 230px;
  background-color: #FFFCDC;
  background-position: center;
  position: absolute;
  left: 200px;
  top: 300px;
}
.img{
  height: 90px;
}
.form{
  padding-left: 30px;
}
.p1{
  color:red;
}
.p2{
  color: red;
}
